Code - OSS/
Code/
Electron/
QtProject.conf
calibre/
cef_user_data/
chromium/
heroic/
dconf/
discord/
gedit/
gh/
htop/
inkdrop/
libreoffice/
liferea/
lutris/
mimeapps.list
ncmpcpp/
nvim.bak/
pulse/
pupgui/
spicetify/
spotify-tui/
spotify/
systemd/
unity3d/
vis/
cmus/
pavucontrol.ini
picom.conf
qBittorrent/
transmission-remote-gtk/
vlc/
anipy-cli/
bluetuith/
browsh/
coc/
mutt/
legendary/
hakuneko-desktop/
menus/
wireshark/
yuzu/
